.copyright {
  color: #000;
  font-family: Founders Grotesk Light;
  font-size: 12px;
}

.socials {
  color: #FF3461;
  font-size: 30px;
}

.socials:hover {
  color: #BEFA46;
}

.far {
  font-size: 25px;
}

.fab {
  font-size: 25px;
}