
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header-title {
        font-size: 4rem;
    }
    #isl.card-body {
        padding-left: 0;
        padding-top: 0;
    }
    #unicredit.card-body {
        padding-left: 0;
        padding-top: 0;
    }
    .about ul {
        padding-bottom: 30px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .header-title {
        font-size: 3rem;
    }
    .about ul {
        padding-bottom: 30px;
    }
    .contact h3 {
        font-size: 1.5rem;
    }
    .other-projects .card-title {
        font-size: 1.4rem;
    }
    .section-title {
        font-size: 3rem;
    }
    #isl.card-body {
        padding-left: 0;
        padding-top: 0;
    }
    #unicredit.card-body {
        padding-left: 0;
        padding-top: 0;
    }
    .section-sub {
        margin-top: .5rem;
    }
    .lead {
        margin-top: 1rem;
    }
    .credits li {
        font-size: 16px;
    }
    .contact h3 {
        font-size: 20px;
    }
    .quarter h3 {
        font-size: 24px; 
    }
    .header {
        height: 75vh;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}