
.summary {
    font-family: sans-serif;
    letter-spacing: 1px;
}

.quarter {
    height: 75vh;
    a {
        text-decoration: none;
        color: $accentText;
        &:hover {
            color: $secondaryText;
        }
    }
}

.credits {
    padding-top: 0;
    li {
        color: $primaryColor;
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
    }
}

.images {
    padding-top: 0
}

.quarter .nav-link {
    padding: 0;
}

hr {
    border: 4px solid $accentColor;
}

.header-inner svg {
    color: $accentColor;
}

#isl {
    padding-top: 0;
    .card-body {
        padding-top: 1.25rem;
    }
    a {
        color: $primaryText;
        &:hover {
            color: $accentText;
            text-decoration: none;
        }
    }
}

#unicredit {
    padding-top: 0;
    a {
        color: $primaryText;
        &:hover {
            color: $accentText;
            text-decoration: none;
        }
    }
}

